{% if request.user.is_authenticated %}
{% load static %}
{% include 'hmlsvcrapp/_menu.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credentials</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/tables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/buttons.css' %}">
    <!-- Include other head elements as needed -->
    <script>
        function revealPassword(id) {
            var element = document.getElementById(id);
            if (element) {
                element.classList.toggle('blur');
            }
        }
    </script>
</head>
<body>
    <header>
        <!-- Navigation Menu -->
        {% include 'hmlsvcrapp/_submenu.html' %}
        <br> 
    </header>

    <div class="container">    
        <table class="table-container">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Account Type</th>
                    <th>Username</th>
                    <th>Password</th>
                    <!-- <th>Associated Service</th>
                    <th>Associated Server</th> -->
                    <th>Last Updated</th>
                    <th>MFA Enabled</th>
                    <th>MFA Source</th>
                    <th>SSO</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in credentials %}
                <tr>
                    <td>{{ credential.cred_name }}</td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {{ credential.account_type }}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {{ credential.username }}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if credential.password %}
                                    <span class="blur" id="credential-password-{{ credential.id }}">{{ credential.password }}</span>
                                    <button class="btn btn-edit" onclick="revealPassword('credential-password-{{ credential.id }}')">Reveal</button><br>
                                {% else %}
                                    <div>&#10060; <!-- Emoji for red x -->[No credentials associated]</div>
                                {% endif %}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <!-- <td>
                        {% for server_credential in credential.servercredential_set.all %}
                            <a href="{% url 'edit_service' server_credential.server.id %}">
                                {{ server_credential.server.name }}
                            </a><br>
                        {% empty %}
                            <div>No Associated Server</div>
                        {% endfor %}
                    </td>
                    <td>
                        {% for service_credential in credential.servicecredential_set.all %}
                            <a href="{% url 'edit_service' service_credential.service.id %}">
                                {{ service_credential.service.name }}
                            </a><br>
                        {% empty %}
                            <div>No Associated Service</div>
                        {% endfor %}
                    </td> -->             
                    <td>{{ credential.last_updated }}</td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if credential.mfa_enabled %}
                                    &#9989; <!-- Emoji for checkmark -->
                                {% else %}
                                    &#10060; <!-- Emoji for red x -->
                                {% endif %}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if credential.mfa_source %}
                                    &#9989; <!-- Emoji for checkmark -->
                                {% else %}
                                    &#10060; <!-- Emoji for red x -->
                                {% endif %}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                                {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <td>
                        {% if credential.sso %}
                            &#9989; <!-- Emoji for checkmark -->
                        {% else %}
                            &#10060; <!-- Emoji for red x -->
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_staff %}
                            <div class="button-group">
                                <a href="{% url 'edit_credential' credential.id %}" class="btn btn-edit">Edit</a>
                                <form action="{% url 'delete_credential' credential.id %}" method="post" class="inline-form">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this credential?');">
                                </form>
                            </div>
                        {% elif request.user.is_authenticated %}
                            &#128273; <!-- Emoji for red x -->[RESTRICTED]
                        {% else %}
                            <button class="btn login-button" onclick="window.location.href='{% url 'login' %}'">Login to view</button>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="7">No credentials available.</td></tr>
            {% endfor %}
            </tbody>   
        </table> 
        <div class="footer-buttons">

        </div>
    </div>

    <!-- Add your JavaScript here, if needed -->
 
</body>
</html>
{% else %}
{% include 'hmlsvcrapp/_menu.html' %}
<style>
.login-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.login-message {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.login-button {
    display: inline-block;
    background-color: #009879;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #007961;
}

</style>
    <div class="login-prompt-container">
        <p class="login-message">You must be logged in to view this page.</p>
        <a href="{% url 'login' %}" class="login-button">Log in</a>
    </div>
{% endif %}
