{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>HomeLab Databse Home</title>
    <!-- Add any additional head elements here -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/styles.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/tables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/buttons.css' %}">
</head>
<body>

    <!-- Links to other pages -->
    {% include 'hmlsvcrapp/_menu.html' %}

    <br>
    <h1 style="text-align: center;">Welcome to the HomeLab Database Application</h1>
    <br>

    <!-- Embedding the website in an iframe -->
    <h3 style="text-align: center;">Current Status</h3>
    <!--<iframe src="http://10.10.151.4:3001/status/herbaughmanor" width="800" height="400"></iframe>-->

    <table class="table-container">
        <thead>
            <tr>
                <th>Service</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for monitor in monitors %}
                <tr>
                    <td>{{ monitor.name }}</td>
                    <td><img src="{{ monitor.url }}" alt="{{ monitor.name }} Status Badge"></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No monitors found.</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <!-- Add additional content or scripts here -->
</body>
</html>
