{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>HomeLab Databse Home</title>
    <!-- Add any additional head elements here -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/styles.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/tables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/buttons.css' %}">
</head>
<body>

    <!-- Links to other pages -->
    {% include 'hmlsvcrapp/_menu.html' %}

    <br>
    <h1 style="text-align: center;">Welcome to the HomeLab Database Application</h1>
    <br>

    <!-- Embedding the website in an iframe -->
    <h3 style="text-align: center;">Current Status</h3>
    <!--<iframe src="http://10.10.151.4:3001/status/herbaughmanor" width="800" height="400"></iframe>-->

    <table class="table-container">
        <thead>
            <tr>
                <th>Service</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- You can add rows here using a loop or manually -->
            <!-- You can levarage the badges from UptimeKuma as rows to see the status of your services/server. A sample is below -->
            <tr>
                <td>Monitor Name</td>
                <td><img src="http://localhost/api/badge/1/status?style=flat-square" alt="Status Badge"></td>
            </tr>
            
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>

    <!-- Add additional content or scripts here -->
</body>
</html>
