<!-- hmlsvcrapp/templates/hmlsvcrapp/service_list.html -->
{% load static %}
{% if request.user.is_authenticated %}
{% include 'hmlsvcrapp/_menu.html' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/styles.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/tables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hmlsvcrapp/buttons.css' %}">
    <script>
        function revealPassword(id) {
            var element = document.getElementById(id);
            if (element) {
                element.classList.toggle('blur');
            }
        }
    </script>
    <style>
        .blur {
            color: transparent;
            text-shadow: 0 0 8px rgba(0,0,0,0.5);
        }
        .tcent {
            text-align: center;
            vertical-align: middle;
            display: block; /* For block-level centering */
            width: 100%; /* Ensure it takes full cell width */
        }

    </style>
</head>
<body>
    <header>
        <!-- Navigation Menu -->
        {% include 'hmlsvcrapp/_submenu.html' %}
        <br> 
    </header>
    <div class="container"> 
        <table class="table-container">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Service Name</th>
                    <th>Physical Server</th>
                    <th>FQDN</th>
                    <th>Credential Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Network</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th>LDN</th>
                    <th>DNS</th>
                    <th>HTTPS</th>
                    <th>Cloudflare</th>
                    <th>R.Proxy</th>
                    <th>Wazuh</th>
                    <th>Actions</th>
                    <!--<th>Elastic</th>-->
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>
                        <div class="tcent">
                            {% if service.status == 'Active' %}
                                &#9989; <!-- Emoji for checkmark (Active) -->
                            {% elif service.status == 'Inactive' %}
                                &#9888; <!-- Emoji for caution sign (Inactive) -->
                            {% elif service.status == 'Decommissioned' %}
                                &#x1F480; <!-- Emoji for skull (Decommissioned) -->
                            {% else %}
                                {{ service.status }} <!-- Other status -->
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_staff %}
                           {{ service.name }}
                        {% else %}
                            {{ service.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            <span class="server-link" data-server-id="{{ service.server.id }}">{{ service.server }}</span>
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <td>
                        {% if service.dns_configured %}
                            {% if service.https_enabled %}
                                {% with protocol='https://' %}
                            {% else %}
                                {% with protocol='http://' %}
                            {% endif %}
                                    {% if service.reverse_proxy_configured or service.port in [80, 443] %}
                                        {% with port='' %}
                                    {% else %}
                                        {% with port=':'|add:service.port|stringformat:"s" %}
                                    {% endif %}
                                            <a href="{{ protocol }}{{ service.fqdn }}{{ port }}" target="_blank">{{ protocol }}{{ service.fqdn }}{{ port }}</a>
                                        {% endwith %}
                                {% endwith %}
                        {% else %}
                            &#10060; <!-- Emoji for red x -->[DNS Not Configured]    &#10060; <!-- Emoji for red x -->
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if service.credentials.all %}
                                    <ol>
                                        {% for credential in service.credentials.all %}
                                            <li>{{ credential.cred_name }}<br></li>
                                        {% endfor %}
                                    </ol>
                                {% else %}
                                    <div>&#10060; [No credentials associated]</div>
                                {% endif %}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            <div>&#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if service.credentials.all %}
                                    <ol>
                                        {% for credential in service.credentials.all %}
                                            <li>{{ credential.username }}<br></li>
                                        {% endfor %}
                                    </ol>
                                {% else %}
                                    <div>&#10060; [No credentials associated]</div>
                                {% endif %}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            <div>&#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if service.credentials.all %}
                                    <ol>
                                        {% for credential in service.credentials.all %}
                                            <li>
                                                <span class="blur" id="password-{{ service.id }}-{{ credential.id }}">{{ credential.password }}</span>
                                                <button class="btn btn-edit" onclick="revealPassword('password-{{ service.id }}-{{ credential.id }}')">Reveal</button><br>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                {% else %}
                                    <div>&#10060; [No credentials associated]</div>
                                {% endif %}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            <div>&#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                <ol>
                                    {% for credential in service.credentials.all %}
                                        <li><span>{{ credential.account_type }}</span><br></li>
                                    {% empty %}
                                        <div>&#10060; <!-- Emoji for red x --></div>
                                    {% endfor %}
                                </ol>
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if service.network %}
                                    <span class="network-link" data-network-id="{{ service.network.id }}">
                                        {{ service.network.name }} ({{ service.network.vlan_id }})
                                    </span>
                                {% else %}
                                    <div>&#10060; [No Network Assigned]&#10060;</div>
                                {% endif %}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {{ service.ip }}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {{ service.port }}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if service.reverse_proxy_configured %}
                                    <a href="https://{{ service.ldn }}" target="_blank">https://{{ service.ldn }}</a>
                                {% else %}
                                    {% if service.https_enabled %}
                                        {% with protocol='https://' %}
                                    {% else %}
                                        {% with protocol='http://' %}
                                    {% endif %}
                                        {% if service.dns_configured %}
                                            {% with domain=service.ldn %}
                                        {% else %}
                                            {% with domain=service.ip %}
                                        {% endif %}
                                            {% if service.port in [80, 443] %}
                                                {% with port='' %}
                                            {% else %}
                                                {% with port=':'|add:service.port|stringformat:"s" %}
                                            {% endif %}
                                                    <a href="{{ protocol }}{{ domain }}{{ port }}" target="_blank">{{ protocol }}{{ domain }}{{ port }}</a>
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endif %}
                            {% else %}
                                &#128273; <!-- Emoji for key -->[RESTRICTED]
                            {% endif %}
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}

                    </td>
                    <td>
                        <div class="tcent">
                            {% if user.is_authenticated %}
                                {% if service.dns_configured %}
                                    &#9989; <!-- Emoji for checkmark -->
                                {% else %}
                                    &#10060; <!-- Emoji for red x -->
                                {% endif %}
                            {% else %}
                                &#10067; <!-- Emoji for red question mark -->
                            {% endif %}
                        </div>
                    </td>                                                           
                    <td>
                        <div class="tcent">
                            {% if user.is_authenticated %}
                                {% if service.https_enabled %}
                                    &#9989; <!-- Emoji for checkmark -->
                                {% else %}
                                    &#10060; <!-- Emoji for red x -->
                                {% endif %}
                            {% else %}
                                &#10067; <!-- Emoji for red question mark -->
                            {% endif %}
                        </div>
                    </td>                    
                    <td>
                        <div class="tcent">
                            {% if user.is_authenticated %}
                                {% if service.cloudflare_proxy_configured %}
                                    &#9989; <!-- Emoji for checkmark -->
                                {% else %}
                                    &#10060; <!-- Emoji for red x -->
                                {% endif %}
                            {% else %}
                                &#10067; <!-- Emoji for red question mark -->
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="tcent">
                            {% if user.is_authenticated %}
                                {% if service.reverse_proxy_configured %}
                                    &#9989; <!-- Emoji for checkmark -->
                                {% else %}
                                    &#10060; <!-- Emoji for red x -->
                                {% endif %}
                            {% else %}
                                &#10067; <!-- Emoji for red question mark -->
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="tcent">
                            {% if user.is_authenticated %}
                                {% if service.wazuh_agent_installed %}
                                    &#9989; <!-- Emoji for checkmark -->
                                {% else %}
                                    &#10060; <!-- Emoji for red x -->
                                {% endif %}
                            {% else %}
                                &#10067; <!-- Emoji for red question mark -->
                            {% endif %}
                        </div>
                    </td>
                    
                    <td>
                        {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_staff %}
                            <div class="button-group">
                                <a href="{% url 'edit_service' service.id %}" class="btn btn-edit">Edit</a>
                                <form action="{% url 'delete_service' service.id %}" method="post" class="inline-form">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this service?');">
                                </form>
                                
                                {% if service.status != 'Decommissioned' %}
                                    <form action="{% url 'decommission_service' service.id %}" method="post" class="inline-form">
                                        {% csrf_token %}
                                        <input type="submit" value="Decommission" class="btn btn-decom" onclick="return confirm('Are you sure you want to decommission this service?');">
                                    </form>
                                {% else %}
                                    <form action="{% url 'decommission_service' service.id %}" method="post" class="inline-form">
                                        {% csrf_token %}
                                        <input type="submit" value="Reactivate" class="btn btn-decom" onclick="return confirm('Are you sure you want to reactivate this service?');">
                                    </form>
                                {% endif %}
                            </div>
                        {% elif request.user.is_authenticated %}
                            &#128273; <!-- Emoji for red x -->[RESTRICTED]
                        {% else %}
                            &#x1F510; <!-- Emoji for closed lock with key -->[PROTECTED]
                        {% endif %}
                    </td>
                    
                </tr>
                {% empty %}
                <tr><td colspan="5">&#10060; <!-- Emoji for red x -->No services available.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="footer-buttons">
            <br>
            {% include 'hmlsvcrapp/_submenu.html' %}
            <br> 
        </div>
    </div>

    <!-- Add your JavaScript here -->
    <script>
        function revealAllPasswords() {
            var elements = document.getElementsByClassName('blur');
            for (var i = 0; i < elements.length; i++) {
                elements[i].classList.toggle('blur');
            }
        }
    </script>
    {% include 'hmlsvcrapp/_popup.html' %}
</body>
</html>
{% else %}
{% include 'hmlsvcrapp/_menu.html' %}
<style>
.login-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.login-message {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.login-button {
    display: inline-block;
    background-color: #009879;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #007961;
}

</style>
    <div class="login-prompt-container">
        <p class="login-message">You must be logged in to view this page.</p>
        <a href="{% url 'login' %}" class="login-button">Log in</a>
    </div>
{% endif %}